<section class="bg-sec vh-90 d-flex flex-column justify-content-center align-items-center">
    <app-star [titleStar]="'ABOUT COMPONENT'" [customColor]="'white'" ></app-star>
    <div class="container">
        <div class="row fw-bolder text-white mx-auto ">
            <div class="col-md-6">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
            <div class="col-md-6">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
        </div>
    </div>
</section>