<nav class="navbar navbar-expand-md bg-main fixed-top " 
[class.p-4]=" !isScrolling " 
>
    <div class="container">
      <a class="navbar-brand text-uppercase fs-2 fw-bold  " routerLink ="" routerLinkActive="active">start framework
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-uppercase fs-5 fw-bold mx-md-3" routerLink ="portfolio" routerLinkActive="active" >portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fs-5 fw-bold mx-md-3" routerLink ="about" routerLinkActive="active" aria-current="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fs-5 fw-bold" routerLink ="contact" routerLinkActive="active" >contact</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
