<section class="d-flex justify-content-center align-items-center flex-column ">
    <app-star [titleStar]="'PORTFOLIO COMPONENT'" [customColor]="'#212529'" ></app-star>
    <div class="container">
        <div class="row g-3">
        @for (src of PortfolioSrc; track $index) {
            <div class="col-lg-4 col-md-6">
                <figure class="position-relative overflow-hidden">
                    <img [src]="src" class="w-100 rounded-3" alt="">
                    <figcaption (click)="flag=false ;modelImg=src"
                    class="position-absolute start-0 bg-sec rounded-3 top-0 d-flex justify-content-center align-items-center w-100 h-100">
                        <i class="fa-solid fa-plus fa-6x text-white"></i> 
                    </figcaption>
                </figure>
            </div>
        }
        </div>
    </div>
</section>
<div 
(click)="hideModel($event.target,img)"
[class.d-none]="flag"
class="model position-fixed h-100 w-100 start-0 top-0 justify-content-center align-items-center d-flex bg-primary bg-opacity-50 " >
    <img #img [src]="modelImg" alt="pouy"  width="600" class="rounded-4">
</div>